/* main style */
/* main style end*/
/* media queries mixin*/
/* media queries mixin end*/
/* brands */
/* brands end*/
/* timeline */
/* timeline */
/* brand mixin */
/* brand mixin end*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
textarea {
  font-family: "Open Sans", "Arial", sans-serif;
}

img {
  display: block;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
}

.clearfix::before {
  content: "";
  display: table;
  clear: both;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.button {
  padding: 10px 15px;
  display: block;
  border: 2px solid #fff;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  background-image: linear-gradient(#03a9f4, #03a9f4);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size .5s, color .5s;
}

.button--small {
  font-size: 14px;
  border: 2px solid #03a9f4;
  padding: 10px 15px;
  color: #03a9f4;
}

.button--small:hover {
  color: #fff;
}

.button--timeline {
  font-size: 14px;
  border: 2px solid #dcdcdc;
  color: #666666;
  padding: 10px 15px;
}

.button--timeline:hover {
  color: #fff;
}

@media (min-width: 576px) {
  .button {
    padding: 15px 30px;
  }
}

@media (min-width: 992px) {
  .button {
    padding: 15px 50px;
  }
}

.button:hover {
  background-size: 100% 100%;
  border-color: #03a9f4;
}

.line::after {
  content: "";
  display: block;
  width: 50px;
  border: 1px solid #2ebcfc;
}

@media (min-width: 576px) {
  .line::after {
    width: 60px;
  }
}

.line--center::after {
  margin: 30px auto 0;
}

.line--left::after {
  margin: 25px 0;
}

.start {
  padding: 40px 5px 50px;
  position: relative;
  background-image: url("../img/bg/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  color: #fff;
  font-family: "Open Sans", "Arial", sans-serif;
}

@media (min-width: 576px) {
  .start {
    padding: 60px 25px 60px;
  }
}

@media (min-width: 992px) {
  .start {
    padding: 150px 25px 100px;
  }
}

.start__wrapper {
  position: relative;
  z-index: 1;
}

.start:before {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.start__heading {
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5px;
}

@media (min-width: 576px) {
  .start__heading {
    font-size: 40px;
    letter-spacing: 4px;
    margin-bottom: 15px;
  }
}

@media (min-width: 992px) {
  .start__heading {
    font-size: 65px;
    letter-spacing: 6px;
    margin-bottom: 30px;
  }
}

.start__heading-paragraph {
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .start__heading-paragraph {
    font-size: 20px;
    letter-spacing: 2px;
  }
}

@media (min-width: 992px) {
  .start__heading-paragraph {
    font-size: 35px;
    letter-spacing: 4px;
    margin-bottom: 30px;
  }
}

.start__timer {
  text-align: center;
  padding: 0 5px;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 35px;
  letter-spacing: 2px;
}

@media (min-width: 576px) {
  .start__timer {
    font-size: 50px;
    letter-spacing: 4px;
  }
}

@media (min-width: 992px) {
  .start__timer {
    font-size: 70px;
    letter-spacing: 4px;
  }
}

.start__timer-paragraph {
  text-align: center;
  padding: 0 5px;
  font-size: 12px;
  letter-spacing: 2px;
  word-spacing: 32px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media (min-width: 576px) {
  .start__timer-paragraph {
    word-spacing: 70px;
    margin-bottom: 50px;
  }
}

@media (min-width: 992px) {
  .start__timer-paragraph {
    word-spacing: 110px;
    margin-bottom: 100px;
  }
}

.start__links {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 576px) {
  .start__links {
    flex-direction: row;
    justify-content: center;
  }
}

.start__links-item {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .start__links-item {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.start__links-item:last-child {
  margin-bottom: 0;
}

@media (min-width: 576px) {
  .start__links-item:last-child {
    margin-right: 0;
  }
}

.about {
  display: flex;
  align-items: center;
  padding: 60px 40px;
}

@media (min-width: 768px) {
  .about {
    padding: 60px 10vw;
  }
}

@media (min-width: 992px) {
  .about__text {
    margin-right: 50px;
  }
}

.about__img {
  display: none;
}

@media (min-width: 992px) {
  .about__img {
    display: block;
  }
}

.about__title {
  font-weight: 900;
  text-transform: uppercase;
}

.about__description {
  padding: 10px 0;
}

.about__description--bold {
  font-weight: 600;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;
}

@media (min-width: 576px) {
  .info-item {
    padding: 50px 50px;
  }
}

@media (min-width: 676px) {
  .info-item {
    padding: 0;
  }
}

.info-item__image {
  background: #03a9f4;
  font-size: 24px;
  color: white;
  border-radius: 50%;
  max-width: 80px;
  width: 100%;
  line-height: 3.3em;
  text-align: center;
}

.info-item__image--transform {
  font-size: 22px;
  transform: rotate(-45deg);
  line-height: 3.6em;
}

@media (min-width: 576px) {
  .info-item__image--bullhorn {
    padding: 50px 70px;
  }
}

@media (min-width: 676px) {
  .info-item__image--bullhorn {
    padding: 0;
  }
}

.info-item__headline {
  margin-top: 25px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}

.info-item__paragraph {
  margin-top: 14px;
  font-size: 14px;
  text-align: center;
  color: #666666;
}

.advantages-video {
  background: linear-gradient(to bottom, #f8f8f8 43%, white 43%);
}

@media (min-width: 576px) {
  .advantages-video {
    background: linear-gradient(to bottom, #f8f8f8 47%, white 47%);
  }
}

@media (min-width: 676px) {
  .advantages-video {
    background: linear-gradient(to bottom, #f8f8f8 35%, white 35%);
  }
}

@media (min-width: 992px) {
  .advantages-video {
    background: linear-gradient(to bottom, #f8f8f8 50%, white 50%);
  }
}

@media (min-width: 576px) {
  .advantages-video__info-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (min-width: 676px) {
  .advantages-video__info-items {
    flex-wrap: nowrap;
    padding: 5% 0;
    justify-content: space-evenly;
  }
}

.video-container {
  display: none;
}

@media (min-width: 576px) {
  .video-container {
    display: flex;
    justify-content: center;
    padding: 40px 0;
  }
}

.video-container__video {
  display: none;
}

@media (min-width: 576px) {
  .video-container__video {
    display: block;
    width: 83vw;
    height: 40vw;
  }
}

/*VIDEO JS STYLESHEETS*/
.video-js {
  font-size: 6px;
  color: #fff;
}

@media (min-width: 768px) {
  .video-js {
    font-size: 10px;
  }
}

@media (min-width: 992px) {
  .video-js {
    font-size: 12px;
  }
}

.vjs-default-skin .vjs-big-play-button {
  font-size: 3em;
  line-height: 2em;
  height: 2em;
  width: 2em;
  border: 0.06666em solid #fff;
  border-radius: 50%;
  left: 50%;
  top: 55%;
  margin-left: -1em;
  margin-top: -1em;
}

.video-js .vjs-control-bar,
.video-js .vjs-big-play-button,
.video-js .vjs-menu-button .vjs-menu-content {
  background-color: transparent;
}

.video-js .vjs-slider {
  background-color: rgba(84, 84, 84, 0);
  background-color: rgba(84, 84, 84, 0.5);
}

.video-js .vjs-volume-level,
.video-js .vjs-play-progress,
.video-js .vjs-slider-bar {
  background: #fff;
}

.video-js .vjs-load-progress {
  background: rgba(148, 148, 148, 0);
  background: rgba(84, 84, 84, 0.5);
}

.video-js .vjs-load-progress div {
  background: rgba(212, 212, 212, 0);
  background: rgba(84, 84, 84, 0.75);
}

video[poster] {
  -o-object-fit: cover;
  object-fit: cover;
}

.vjs-poster {
  background-size: cover;
  background-position: center;
}

.brands {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6fr;
  padding: 5px;
}

@media (min-width: 576px) {
  .brands {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr;
    padding: 12px;
  }
}

@media (min-width: 992px) {
  .brands {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr;
    padding: 40px;
  }
}

.brands__block {
  margin: 0 auto;
  width: 70%;
  padding: 40px 0;
  border-bottom: 1px dashed #eaeaea;
}

@media (min-width: 576px) {
  .brands__block {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .brands__block--first {
    border-top: 0px dashed #eaeaea;
    border-right: 1px dashed #eaeaea;
    border-bottom: 1px dashed #eaeaea;
    border-left: 0px dashed #eaeaea;
  }
}

@media (min-width: 992px) {
  .brands__block--first {
    border-top: 0px dashed #eaeaea;
    border-right: 0px dashed #eaeaea;
    border-bottom: 1px dashed #eaeaea;
    border-left: 0px dashed #eaeaea;
  }
}

@media (min-width: 992px) {
  .brands__block--second {
    border-top: 0px dashed #eaeaea;
    border-right: 1px dashed #eaeaea;
    border-bottom: 1px dashed #eaeaea;
    border-left: 1px dashed #eaeaea;
  }
}

@media (min-width: 576px) {
  .brands__block--third {
    border-top: 0px dashed #eaeaea;
    border-right: 1px dashed #eaeaea;
    border-bottom: 1px dashed #eaeaea;
    border-left: 0px dashed #eaeaea;
  }
}

@media (min-width: 992px) {
  .brands__block--third {
    border-top: 0px dashed #eaeaea;
    border-right: 0px dashed #eaeaea;
    border-bottom: 1px dashed #eaeaea;
    border-left: 0px dashed #eaeaea;
  }
}

@media (min-width: 992px) {
  .brands__block--fourth {
    border-top: 0px dashed #eaeaea;
    border-right: 0px dashed #eaeaea;
    border-bottom: 0px dashed #eaeaea;
    border-left: 0px dashed #eaeaea;
  }
}

.brands__block--fifth {
  width: 100%;
}

@media (min-width: 576px) {
  .brands__block--fifth {
    border-top: 0px dashed #eaeaea;
    border-right: 1px dashed #eaeaea;
    border-bottom: 0px dashed #eaeaea;
    border-left: 0px dashed #eaeaea;
  }
}

@media (min-width: 992px) {
  .brands__block--fifth {
    border-top: 0px dashed #eaeaea;
    border-right: 1px dashed #eaeaea;
    border-bottom: 0px dashed #eaeaea;
    border-left: 1px dashed #eaeaea;
  }
}

.brands__block--sixth {
  border-top: 0px dashed #eaeaea;
  border-right: 0px dashed #eaeaea;
  border-bottom: 0px dashed #eaeaea;
  border-left: 0px dashed #eaeaea;
}

@media (min-width: 992px) {
  .brands__block--sixth {
    border-top: 0px dashed #eaeaea;
    border-right: 0px dashed #eaeaea;
    border-bottom: 0px dashed #eaeaea;
    border-left: 0px dashed #eaeaea;
  }
}

@media (min-width: 576px) {
  .brands__block--sixth img {
    width: auto;
    height: 100%;
  }
}

.brands img {
  margin: auto;
}

.our-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  background: #343131;
}

.our-member__headline {
  margin-bottom: 50px;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

@media (min-width: 768px) {
  .our-member__men {
    display: flex;
  }
}

.our-member__cont {
  position: relative;
  padding: 20px;
  max-width: 370px;
  width: 100%;
  color: #fff;
}

.our-member__cont-for-image {
  position: relative;
  width: 100%;
  cursor: pointer;
}

@media (min-width: 768px) {
  .our-member__cont-for-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    max-width: 370px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 768px) {
  .our-member__cont-for-image:hover::after {
    display: block;
  }
}

.our-member__image {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .our-member__descr {
    display: none;
  }
}

@media (min-width: 768px) {
  .our-member__cont-for-image:hover + .our-member__descr {
    display: block;
    position: absolute;
    bottom: 50px;
    left: 40px;
  }
}

.our-member__name {
  margin-top: 15px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

.our-member__position {
  margin-top: 10px;
  font-size: 14px;
}

.our-member__contacts {
  position: relative;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  width: 110px;
}

.our-member__contacts::after {
  content: '';
  position: absolute;
  width: 35px;
  top: -180%;
  left: 0;
  border: 2px solid #fff;
}

.our-member__link-contact {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}

.our-member__link-contact--blue {
  color: #03a9f4;
}

.book-a-seat {
  display: flex;
  background-color: #f8f8f8;
}

.book-a-seat__text-form {
  flex-grow: 1;
  flex-basis: 0;
}

.book-a-seat__wrapper {
  padding: 50px 30px;
}

@media (min-width: 768px) {
  .book-a-seat__wrapper {
    padding: 80px 40px;
  }
}

@media (min-width: 992px) {
  .book-a-seat__wrapper {
    padding: 100px 80px 80px;
  }
}

@media (min-width: 1200px) {
  .book-a-seat__wrapper {
    padding: 120px 100px 100px;
  }
}

.book-a-seat__image {
  background-image: url("../img/content/book-seat.jpg");
  flex-basis: 0;
  flex-grow: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 576px) {
  .book-a-seat__image {
    flex-grow: 1;
  }
}

.book-a-seat__title {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 21px;
}

@media (min-width: 768px) {
  .book-a-seat__title {
    font-size: 32px;
  }
}

.book-a-seat__description {
  font-size: 14px;
  line-height: 24px;
  color: #666666;
}

@media (min-width: 768px) {
  .book-a-seat__description {
    font-size: 16px;
  }
}

.form {
  padding-top: 25px;
}

.form__field {
  background-color: #fff;
  margin-bottom: 30px;
  border: 0;
  font-size: 12px;
  line-height: 25px;
  width: 100%;
  padding: 2px 10px;
}

@media (min-width: 768px) {
  .form__field {
    font-size: 16px;
    line-height: 30px;
  }
}

@media (min-width: 992px) {
  .form__field--half {
    width: 46%;
  }
}

.form__pair {
  display: flex;
  flex-direction: column;
}

@media (min-width: 992px) {
  .form__pair {
    flex-direction: row;
    justify-content: space-between;
  }
}

.map__item {
  display: block;
  border: 0;
  frameborder: 0;
  width: 100%;
  height: 400px;
}

@media (min-width: 768px) {
  .map__item {
    width: 100%;
    height: 500px;
  }
}

@media (min-width: 992px) {
  .map__item {
    width: 100%;
    height: 700px;
  }
}

/*timeline style*/
.timeline {
  position: relative;
  background-color: #f8f8f8;
  padding: 100px 10vw;
  text-align: center;
}

.timeline__title {
  text-transform: uppercase;
  text-align: center;
}

.timeline__input {
  display: none;
}

.timeline__label-box {
  padding: 50px 0 20px 0;
  text-align: center;
}

.timeline__label {
  display: inline-block;
}

.timeline__day {
  position: relative;
}

.timeline__day::before {
  content: '';
  position: absolute;
  width: 1px;
  top: -20px;
  left: 50%;
  height: calc(100% + 70px);
  background: #dcdcdc;
}

.timeline__container {
  position: relative;
}

.timeline__article {
  position: relative;
  float: left;
  width: 40%;
  padding: 15px;
  background: #fff;
}

.timeline__article::after {
  content: '';
  position: absolute;
  top: 4px;
  left: -51px;
  width: 180px;
  transform: rotate(-45deg);
  border: 35px solid transparent;
  border-bottom: 35px solid #03a9f4;
}

.timeline__article--right {
  float: right;
}

.timeline__article--right::after {
  content: '';
  position: absolute;
  top: 0;
  left: auto;
  right: -35px;
  width: 180px;
  transform: rotate(45deg);
  border: 25px solid transparent;
  border-bottom: 25px solid #03a9f4;
}

.timeline__time {
  position: absolute;
  transform: rotate(-45deg);
  text-transform: uppercase;
  color: #fff;
  width: 200px;
  top: 39px;
  z-index: 1;
  left: -47px;
}

.timeline__time--right {
  position: absolute;
  transform: rotate(45deg);
  text-transform: uppercase;
  color: #fff;
  width: 200px;
  top: 20px;
  z-index: 1;
  right: -46px;
  left: auto;
}

.timeline__article-img {
  width: 100%;
}

.timeline__mini-photo {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}

.timeline__mini-photo--day-one {
  background: url(../img/content/speakers-1.png) center center no-repeat;
}

.timeline__mini-photo--day-two {
  background: url(../img/content/speakers-2.png) center center no-repeat;
}

.timeline__mini-photo--day-three {
  background: url(../img/content/speakers-3.png) center center no-repeat;
}

.timeline__bottom-btn {
  margin-top: 50px;
  position: relative;
  display: inline-block;
}

/*timeline style end*/
/*timeline logic*/
.timeline__input--day-one:checked ~ .timeline__label-box .timeline__label--day-one {
  background-color: #03a9f4;
  color: #fff;
  border: 2px solid #03a9f4;
}

.timeline__input--day-one:checked ~ .timeline__day--one {
  display: block;
}

.timeline__input--day-one:checked ~ .timeline__day--two {
  display: none;
}

.timeline__input--day-one:checked ~ .timeline__day--three {
  display: none;
}

.timeline__input--day-one:checked ~ .timeline__bottom-btn--day-one {
  display: none;
}

.timeline__input--day-one:checked ~ .timeline__bottom-btn--day-three {
  display: none;
}

.timeline__input--day-two:checked ~ .timeline__label-box .timeline__label--day-two {
  background-color: #03a9f4;
  color: #fff;
  border: 2px solid #03a9f4;
}

.timeline__input--day-two:checked ~ .timeline__day--one {
  display: none;
}

.timeline__input--day-two:checked ~ .timeline__day--two {
  display: block;
}

.timeline__input--day-two:checked ~ .timeline__day--three {
  display: none;
}

.timeline__input--day-two:checked ~ .timeline__bottom-btn--day-one {
  display: none;
}

.timeline__input--day-two:checked ~ .timeline__bottom-btn--day-two {
  display: none;
}

.timeline__input--day-three:checked ~ .timeline__label-box .timeline__label--day-three {
  background-color: #03a9f4;
  color: #fff;
  border: 2px solid #03a9f4;
}

.timeline__input--day-three:checked ~ .timeline__day--one {
  display: none;
}

.timeline__input--day-three:checked ~ .timeline__day--two {
  display: none;
}

.timeline__input--day-three:checked ~ .timeline__day--three {
  display: block;
}

.timeline__input--day-three:checked ~ .timeline__bottom-btn--day-two {
  display: none;
}

.timeline__input--day-three:checked ~ .timeline__bottom-btn--day-three {
  display: none;
}

.book-a-seat {
  display: flex;
  background-color: #f8f8f8;
}

.book-a-seat__text-form {
  flex-grow: 1;
  flex-basis: 0;
}

.book-a-seat__wrapper {
  padding: 50px 30px;
}

@media (min-width: 768px) {
  .book-a-seat__wrapper {
    padding: 80px 40px;
  }
}

@media (min-width: 992px) {
  .book-a-seat__wrapper {
    padding: 100px 80px 80px;
  }
}

@media (min-width: 1200px) {
  .book-a-seat__wrapper {
    padding: 120px 100px 100px;
  }
}

.book-a-seat__image {
  background-image: url("../img/content/book-seat.jpg");
  flex-basis: 0;
  flex-grow: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 576px) {
  .book-a-seat__image {
    flex-grow: 1;
  }
}

.book-a-seat__title {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 21px;
}

@media (min-width: 768px) {
  .book-a-seat__title {
    font-size: 32px;
  }
}

.book-a-seat__description {
  font-size: 14px;
  line-height: 24px;
  color: #666666;
}

@media (min-width: 768px) {
  .book-a-seat__description {
    font-size: 16px;
  }
}

.form {
  padding-top: 25px;
}

.form__field {
  background-color: #fff;
  margin-bottom: 30px;
  border: 0;
  font-size: 12px;
  line-height: 25px;
  width: 100%;
  padding: 2px 10px;
}

@media (min-width: 768px) {
  .form__field {
    font-size: 16px;
    line-height: 30px;
  }
}

@media (min-width: 992px) {
  .form__field--half {
    width: 46%;
  }
}

.form__pair {
  display: flex;
  flex-direction: column;
}

@media (min-width: 992px) {
  .form__pair {
    flex-direction: row;
    justify-content: space-between;
  }
}

.map__item {
  display: block;
  border: 0;
  frameborder: 0;
  width: 100%;
  height: 400px;
}

@media (min-width: 768px) {
  .map__item {
    width: 100%;
    height: 500px;
  }
}

@media (min-width: 992px) {
  .map__item {
    width: 100%;
    height: 700px;
  }
}
