.brands {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6fr;
  padding: 5px;

  @include sm {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr;
    padding: 12px;
  }

  @include lg {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr;
    padding: 40px;
  }

  &__block {
    margin: 0 auto;
    width: 70%;
    padding: 40px 0;
    border-bottom: 1px dashed $brands-border-color;

    @include sm {
      width: 100%;
    }

    &--first {

      @include sm {

        @include border(0,1,1,0);
      }

      @include lg {

        @include border(0,0,1,0);
      }
    }

    &--second {

      @include lg {

        @include border(0,1,1,1);
      }
    }

    &--third {

      @include sm {

        @include border(0,1,1,0);
      }

      @include lg {

        @include border(0,0,1,0);
      }
    }

    &--fourth {

      @include lg {

        @include border(0,0,0,0);
      }
    }

    &--fifth {
      width: 100%;

      @include sm {

        @include border(0,1,0,0)
      }

      @include lg {

        @include border(0,1,0,1);
      }
    }

    &--sixth {

      @include border(0,0,0,0)

      @include lg {

        @include border(0,0,0,0);
      }
      & img {

        @include sm {
          width: auto;
          height: 100%;
        }
      }
    }
  }

  & img {
    margin: auto;
  }
}
