.form {
  padding-top: 25px;

  &__field{
    background-color: $text-start;
    margin-bottom: 30px;
    border: 0;
    font-size: 12px;
    line-height: 25px;
    width: 100%;
    padding: 2px 10px;
    resize: vertical;

      @include md { 
        font-size: 16px;
        line-height: 30px;
      } 

      @include lg { 
        &--half {
          width: 46%;
        }
      }
  }

  &__pair {
    display: flex;
    flex-direction: column;

    @include lg {
      flex-direction: row;
      justify-content: space-between;
    } 
  }  
}