.map {  
  &__item {
    display: block;
    border: 0;
    frameborder: 0;
    @include width-height (100%, 400px);
          
      @include md {
        @include width-height (100%, 500px);
      }

      @include lg {
        @include width-height (100%, 700px);
      }
  }
}