@mixin width-height ($w, $h) {
  width: $w;
  height: $h;
}

/* brand mixin */

@mixin border ($top, $right, $bottom, $left) {
  border-top: 0px + $top dashed $brands-border-color;
  border-right: 0px + $right dashed $brands-border-color;
  border-bottom: 0px + $bottom dashed $brands-border-color;
  border-left: 0px + $left dashed $brands-border-color;
}

/* brand mixin end*/

// media queries
// 576px;
@mixin sm {
 @media (min-width: #{$screen-sm-min}) {
   @content
 }
}

// 768px;
@mixin md {
 @media (min-width: #{$screen-md-min}) {
   @content
 }
}

// 992px;
@mixin lg {
 @media (min-width: #{$screen-lg-min}) {
   @content
 }
}

// 1200px;
@mixin xl {
 @media (min-width: #{$screen-xl-min}) {
   @content
 }
}

// Custom devices
@mixin rwd($screen) {
  @media (min-width: $screen+'px') {
      @content;
  }
}
// end of media queries

// animations

//start
@mixin text ($text-s, $letter-s) {
  font-size: $text-s;
  letter-spacing: $letter-s;
}

@mixin button-padding ($vertic, $horiz) {
  padding: $vertic $horiz;
}