.social {
  background-color: $bg-footer;
  color: $text-color;
  font-size: 12px;
  font-weight: bold;
  padding: 20px 30px;

    @include sm {
      font-size: 14px;
    }

    @include rwd(420) {
      display: flex;
      justify-content: space-between;
    }

    &__items {
      text-align: right;
      margin-top: 10px;

        @include rwd(420) {
          margin-top: 0;
        }
    }

    &__link {
      text-decoration: none;
    }

    &__icon {
      color: $text-color;
      margin-left: 5px;
      transition: 2s;

      &:hover {
        color: $main-color;
      }

      @include sm {
        margin-left: 15px;
        font-size: 20px;
      }

      &::last-child {
        margin-left: 0;
      }
    }
}