.timeline {
  position: relative;
  background-color: $tl-bg-color;
  padding: 100px 10vw;

    &__title {
      text-transform: uppercase;
      text-align: center;
    }

    &__input {
      display: none;
    }

    &__label-box {
      padding: 20px;
      margin: 40px;
      text-align: center;
    }

    &__label {
      padding: 10px 30px;
      border: 1px solid $tl-line-color;
      text-transform: uppercase;
      transition: all .3s linear;

      &:hover {
        cursor: pointer;
        background-color: $main-color;
        color: #fff;
      }
    }

    &__day {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: 50%;
        height: 100%;
        border-right: 1px solid $tl-line-color;

      }
    }

    &__container {
      position: relative;
    }

    &__article {
      float: left;
      width: 40%;
      padding: 15px;
      background: #fff;

      &--right {
        float: right;
      }
    }

    &__article-img {
      width: 100%;
    }

    &__mini-photo {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      width: 100px;
      height: 100px;
      background: url(../img/content/speakers-1.png) center center no-repeat;
    }
}

.timeline {

  &__input {

    &--day-one {

      &:checked {

        & ~ .timeline {

          &__day--one {
            display: none;
          }

          &--day-two {
            display: none;
          }

          &--day-three {
            display: none;
          }
        }
      }
    }

    &--day-two {

      &:checked {

        & ~ .timeline {

          &--day-one {
            display: none;
          }

          &--day-two {
            display: block;
          }

          &--day-three {
            display: none;
          }
        }
      }
    }

    &--day-three {

      &:checked {

        & ~ .timeline {

          &--day-one {
            display: none;
          }

          &--day-two {
            display: none;
          }

          &--day-three {
            display: block;
          }
        }
      }
    }
  }
}
