.timeline {
  position: relative;
  background-color: $tl-bg-color;
  padding: 100px 10vw;
  text-align: center;

    &__title {
      text-transform: uppercase;
      text-align: center;
    }

    &__input {
      display: none;
    }

    &__label-box {
      padding: 20px;
      margin: 40px;
      text-align: center;
    }

    &__label {
      padding: 10px 30px;
      border: 1px solid $tl-line-color;
      text-transform: uppercase;
      transition: all .3s linear;

      &:hover {
        cursor: pointer;
        background-color: $main-color;
        color: #fff;
      }
    }

    &__day {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: 1px;
        top: -50px;
        left: 50%;
        height: calc(100% + 100px);
        background: $tl-line-color;
      }
    }

    &__container {
      position: relative;
    }

    &__article {
      float: left;
      width: 40%;
      padding: 15px;
      background: #fff;

      &--right {
        float: right;
      }
    }

    &__article-img {
      width: 100%;
    }

    &__mini-photo {
      position: absolute;
      left: 50%;
      top: 40%;
      transform: translate(-50%,-50%);
      @include width-height(100px,100px)

      &--day-one {
        background: url(../img/content/speakers-1.png) center center no-repeat;
      }

      &--day-two {
        background: url(../img/content/speakers-2.png) center center no-repeat;
      }

      &--day-three {
        background: url(../img/content/speakers-3.png) center center no-repeat;
      }
    }

    &__bottom-btn {
      position: relative;

    }
}

.timeline {

  &__input {

    &--day-one {

      &:checked {

        & ~ .timeline {

          &__label-box {

            & .timeline {

              &__label {

                &--day-one {
                  background-color: $main-color;
                  color: #fff;
                }
              }
            }
          }

          &__day {

            &--one {
              display: block;
            }

            &--two {
              display: none;
            }

            &--three {
              display: none;
            }
          }


          &__bottom-btn {

            &--day-one {
              display: none;
            }

            &--day-three {
              display: none;
            }
          }
        }
      }
    }

    &--day-two {

      &:checked {

        & ~ .timeline {

          &__label-box {

            & .timeline {

              &__label {

                &--day-two {
                  background-color: $main-color;
                  color: #fff;
                }
              }
            }
          }

          &__day {

            &--one {
              display: none;
            }

            &--two {
              display: block;
            }

            &--three {
              display: none;
            }
          }

          &__bottom-btn {

            &--day-one {
              display: none;
            }

            &--day-two {
              display: none;
            }
          }
        }
      }
    }

    &--day-three {

      &:checked {

        & ~ .timeline {

          &__label-box {

            & .timeline {

              &__label {

                &--day-three {
                  background-color: $main-color;
                  color: #fff;
                }
              }
            }
          }

          &__day {

            &--one {
              display: none;
            }

            &--two {
              display: none;
            }

            &--three {
              display: block;
            }
          }

          &__bottom-btn {

            &--day-two {
              display: none;
            }

            &--day-three {
              display: none;
            }
          }
        }
      }
    }
  }
}
