/* main style */
$font-stack: "Open Sans", "Arial", sans-serif;
$main-color: #03a9f4;
$main-color-lightness: lighten($main-color,10%);
$bg-grey: #f8f8f8;
$bg-dark-grey: #343131;
$bg-footer-light-grey: #333333;

$h2-color: #000000;
$curtain-color:rgba(0,0,0,0.5);
$text-color: #666666;
$text-start: #fff;

/* main style end*/
/* media queries mixin*/

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

/* media queries mixin end*/
/* brands */

$brands-border-color: #eaeaea;

/* brands end*/
