/* main style */
$font-stack: "Open Sans", "Arial", sans-serif;
$main-color: #03a9f4;
$main-color-lightness: lighten($main-color,10%);
$bg-grey: #f8f8f8;
$bg-dark-grey: #343131;
$bg-footer-light-grey: #333333;
$bg-header: #f8f4f4;
$bg-footer-input-grey:#606060;
$bg-footer:#262626;

$h2-color: #000000;
$curtain-color:rgba(0,0,0,0.5);
$text-color: #666666;
$text-start: #fff;
$your-logo-color: #212121;
$grey-blog-text: #999999;
$grey-decor-item: #dddddd;

/* main style end*/
/* media queries mixin*/

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

/* media queries mixin end*/
/* brands */

$brands-border-color: #eaeaea;

/* brands end*/

/* timeline */

$tl-article-bg: #fff;
$tl-bg-color: #f8f8f8;
$tl-line-color: #dcdcdc;

/* timeline */