.video-container {
  display: none;

  @include sm {
    display: flex;
    justify-content: center;
    padding: 40px 0;
  }

  &__video {
    display: none;

    @include sm {
      display: block;
      width: 83vw;
      height: 40vw;
    }
  }
}

/*VIDEO JS STYLESHEETS*/
.video-js {
  font-size: 6px;
  color: $text-start;

  @include md {
    font-size: 10px;
  }

  @include lg {
    font-size: 12px;
  }
}

.vjs-default-skin .vjs-big-play-button {
  font-size: 3em;
  line-height: 2em;
  height: 2em;
  width: 2em;
  border: 0.06666em solid $text-start;
  border-radius: 50%;
  left: 50%;
  top: 55%;
  margin-left: -1em;
  margin-top: -1em;
}

.video-js .vjs-control-bar,
.video-js .vjs-big-play-button,
.video-js .vjs-menu-button .vjs-menu-content {
  background-color: transparent;
}

.video-js .vjs-slider {
  background-color: rgba(84, 84, 84, 0.5);
}

.video-js .vjs-volume-level,
.video-js .vjs-play-progress,
.video-js .vjs-slider-bar {
  background: $text-start;
}

.video-js .vjs-load-progress {
  background: rgba(84, 84, 84, 0.5);
}

.video-js .vjs-load-progress div {
  background: rgba(84, 84, 84, 0.75);
}

video[poster] {
  object-fit: cover;
}

.vjs-poster {
  background-size: cover;
  background-position: center;
}
